In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
ma_test_res = pd.read_csv("ma_test_res.csv")
all_trades = pd.read_csv('all_trades.csv')

In [4]:
all_trades.shape
ma_test_res.shape

(18, 9)

In [35]:
ma_test_res.head()

      pair  num_trades  total_gain  mashort  malong     CROSS
0  BTC_USD        2352   -11085.62        8      21   MA_8_21
1  BTC_USD        2274    -5040.33       10      21  MA_10_21
2  BTC_USD        2296    11663.73       12      21  MA_12_21
3  BTC_USD        1642    -1752.57        8      34   MA_8_34
4  BTC_USD        1530    -7777.73       10      34  MA_10_34

In [25]:
ma_test_res = ma_test_res[['pair', 'num_trades', 'total_gain', 'mashort', 'malong']]
#ma_test_res = ma_test_res[['num_trades', 'total_gain', 'mashort', 'malong']]

In [27]:
ma_test_res['CROSS'] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str) #Helps to group MA to analyze

In [29]:
df_all_gains = ma_test_res.groupby(by=['CROSS', 'mashort', 'malong'], as_index=False).sum()

In [31]:
df_all_gains.sort_values(by='total_gain', ascending=False, inplace=True)

In [39]:
ma_8_21 = ma_test_res[ma_test_res.CROSS=='MA_8_21'].copy()

In [40]:
ma_8_21.sort_values(by='total_gain', ascending=False, inplace=True)

In [43]:
total_p =len(ma_8_21.pair.unique())

In [44]:
ma_8_21[ma_8_21.total_gain>0].shape[0]

0

In [54]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS==cross]
    total_p = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f'{cross:12} {n_good} {(n_good/total_p)*100:4.0f}%')

MA_12_21     2  100%
MA_12_34     1   50%
MA_8_34      0    0%
MA_10_21     0    0%
MA_10_34     1   50%
MA_8_21      0    0%
MA_12_55     0    0%
MA_8_55      0    0%
MA_10_55     0    0%